#container{
	background-color: #7C145B;
    border: 5px solid #444;
    color: #FFFFFF;
    display: block;
    font-family: monospace;
    font-size: 18px;
    height: 550px;
    margin: auto;
    opacity: 0.9;
    overflow: auto;
    padding: 5px;
    text-align: left;
    width: 1000px;
    
}
#icon{
	float:right;
	display: inline;
}
img{
	float: right;
	height: 25px;
    width: 25px;
    margin-right: 5px;
	
}
#bar{
    text-align: center;
	display: inline;
}
#top{
	background-color: #444;
    border: 5px solid #444;
    color: #FFFFFF;
    display: block;
    font-family: monospace;
    font-size: 18px;
    height: 20px;
    margin: 50px auto 0;
    overflow: auto;
    padding: 5px;
    width: 1000px;
} 

.texting{
	display: inline;
}
body{
	background-image:url("../images/1.jpg");
}
#outer {
	/* 
	background-repeat:no-repeat; */
	height: 700px;
    width: 100%;
    padding-top: 135px;
    /*padding-left: 285px;*/
} 

#cmd{
	border: none;
    outline: none;
    background-color: #7c145b;
    color: #fff;
    font-size: 18px;
    font-family: monospace;
    width: 15em; 

    background-color: transparent;
	border: none;
	color: #fff;
    font-size: 18px;
    font-family: monospace;
}

#cmd2{
	border: none;
    outline: none;
    background-color: #7c145b;
    color: #fff;
    font-size: 18px;
    font-family: monospace;
    width: 15em; 
    background-color: transparent;
	border: none;
	color: #fff;
    font-size: 18px;
    font-family: monospace;
}
